[user]
name = Gilford Ting
email = gilfordting@gmail.com

[core]
editor = cursor --wait
excludesfile = ~/.gitignore_global

[alias]
lol = log --graph --oneline --decorate --color --all

[merge]
conflictstyle = diff3

[init]
defaultBranch = main

[credential]
helper = osxkeychain
